<h1><%= t("posts") %></h1>
<div style="margin-left: 300px">
<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% if @posts.nil? %>
      <h1><% Not Found %></h1>
    <% else %>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, post %></td>
          <td><%= link_to post.book_name, post %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
</div>
