<section class="banner--section">
  <!-- Banner Slider Start -->
  <div class="banner--slider owl-carousel" data-owl-dots="true" data-owl-dots-style="2">
      <!-- Banner Item Start -->
      <div class="banner--item" data-overlay="0.75">
        <%= image_tag("background.jpg") %>
      </div>
      <!-- Banner Item End -->

      <!-- Banner Item Start -->
      <div class="banner--item" data-overlay="0.75">
        <%= image_tag("cover.jpg") %>
      </div>
      <!-- Banner Item End -->

      <!-- Banner Item Start -->
      <div class="banner--item" data-overlay="0.75">
        <%= image_tag("ITnihongo.jpg") %>
      </div>
      <!-- Banner Item End -->
  </div>
  <!-- Banner Slider End -->
</section>
